@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
  font-family: Quicksand;
  background-color: #fadde1;
  margin: 0;
  padding: 20px;
}

.app-container{
  text-align: center;
}

h1{
  color: darkred;
}

.pokemon-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}