/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

/* Corpo da página */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #001C43;
    color: #ffffff;
}

/* Estilo do Banner */
.banner {
    width: 100%;
    height: auto;
    max-height: 525px;
    object-fit: cover;
    margin: 0 auto;
    background: linear-gradient(to bottom, transparent, rgba(0, 28, 67, 0.8));
}

/* Menu */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 32px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu ul li a {
    color: #ffffff;
    font-size: 16px;
}

.logo {
    width: 150px;
}

/* Seção de cursos */
.cursos {
    padding: 50px 20px;
    text-align: center;
}

.cursos h2 {
    font-size: 32px;
    margin-bottom: 40px;
    color: #ffffff;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #ffffff;
    width: 280px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.card h3 {
    margin-top: 15px;
    font-size: 22px;
    color: #001C43;
    font-weight: bold;
}

.card p {
    font-size: 14px;
    color: #333;
    margin: 15px 0;
}

button{
    border: none;
    cursor: pointer;
}

button,
.card .btn {
    background-color: #001C43;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button,
.card .btn:hover {
    background-color: #00558f;
}

.card:hover {
    transform: translateY(-10px);
}

/* Seção de notícias */
#noticias {
    text-align: center;
    padding: 40px 20px;
    background-color: #fff;
}

#noticias h2 {
    font-size: 24px;
    color: #001C43;
    margin-bottom: 20px;
}

.noticia {
    width: 400px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.noticia:hover {
    transform: scale(1.05);
}

.noticia img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: left;
    transition: bottom 0.3s ease;
}

.noticia:hover .overlay {
    bottom: 0;
}

.overlay h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.overlay p {
    font-size: 14px;
    margin-bottom: 10px;
}

.overlay a {
    background-color: #001C43;
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.overlay a:hover {
    background-color: #003366;
}

/* Seção de formulário */
#formulario {
    padding: 40px 20px;
    text-align: center;
    max-width: 480px;
    margin: 50px auto;
    color: #fff;
}

#formulario h2 {
    font-size: 28px;
    color: #f0f0f0;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-container input {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #002d56;
    border-radius: 10px;
    outline: none;
    background-color: #003366;
    color: #fff;
}

.input-container input:focus {
    border-color: #0a74da;
    box-shadow: 0 0 8px rgba(10, 116, 218, 0.7);
}

/* Rodapé */
footer {
    background-color: #010d1f;
    color: #fff;
    padding: 20px;
    text-align: center;
}